body {
  background: linear-gradient(#ccf7fc, #fcedf0);
  color: #333;
}

.container {
  width: 70% !important;
  margin-right: 21rem !important;
  display: contents;
}

.domine-font {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.font-color {
  color: #347f80 !important;
  font-size: x-large;
}

.navbar {
  height: 80px;
  line-height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.table-container {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  overflow: hidden !important;
}

.table thead th {
  background-color: #347f80;
  color: white;
  text-align: center;
  font-weight: bold;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
}

.table-bordered {
  border: 1px solid #dee2e6 !important;
}

@media (max-width: 600px) {
  .font-color {
    font-size: 15px;
  }
  .domine-font {
    font-size: 15px !important;
  }
  .container {
    width: 60% !important;
  }
}
